.gif-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
}

.MuiCard-root {
    border: 2px solid white;
    transition: all 1s;
}

.MuiCard-root:hover{
    cursor: context-menu;
    box-shadow: -1px 4px 10px -2px gray;
    border: 2px solid #EF233C;
    box-shadow: 20 30 30 30 gray;
}