/* Format of HTML */

:root {
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 25px;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.App {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 50% 20%;
  grid-template-rows: 15% 40% 30% 1fr;
  row-gap: 1rem;
  background-color: black;
}

.App p {
  font-size: 2vmax;
}

.head {
  max-height: 10vh;
  grid-row: 1 / 1;
  grid-column: 1 / 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;
}

.head a {
  font-size: 2vmax;
  text-decoration: none;
  color: white;
}

.head a:hover {
  color: #EF233C;
}

