
// FORMAT HTML, SOME GET TO NORMALIZE.CSS

:root {
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 25px;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  padding: 1rem;
}

.head a {
  text-decoration: none;
  color: white;
}

.head a:hover {
  color: #EF233C;
}
